<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Myanmar Wisdom Page</h1>


  <p>
    Myanmar Wisdom was built by <a target="_blank" href="https://www.facebook.com/thethtut.oo">Thet Htut Oo</a> &amp; <a target="_blank" href="https://www.facebook.com/akyilay07">May Thin</a>. Thet Htut is a developer whereas May Thin Kyi is an artist.
  </p>
  <br />
  <p>
    Most of the time you can see Thet Htut learning new tutorails and dancing to the Indian music. On the other hand, May Thin will be lazing in the bed, watching movies.
  </p>
  <p>
    If you want us to help you build new apps. Find me <a target="_blank" href="https://www.facebook.com/thethtut.oo"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'tho.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Thet Htut Oo</h2>
    <br />
    <p>
      Thet Htut is a gradute of UFL. He has a deep love for web langauages and his favourite is Ruby on Rails. His second lover is python and his crash is lua.
    </p>
  </div>
  <br class="clear" />

  <div class="col-xs-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'may.jpg', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">May Thin Kyi</h2>
    <br />
    <p>
      May Thin Kyi is a mathmatician but her time is used on reading and helping children. Sociable, Outgoing and Sympathetic are her personalities.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
