@font-face {
    font-family: 'quicksandregular';
    src: url('quicksand-regular-webfont.eot');
    src: url('quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand-regular-webfont.woff2') format('woff2'),
         url('quicksand-regular-webfont.woff') format('woff'),
         url('quicksand-regular-webfont.ttf') format('truetype'),
         url('quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandbold_italic';
    src: url('quicksand-bolditalic-webfont.eot');
    src: url('quicksand-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('quicksand-bolditalic-webfont.woff') format('woff'),
         url('quicksand-bolditalic-webfont.ttf') format('truetype'),
         url('quicksand-bolditalic-webfont.svg#quicksandbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
